/* Basic styling to make it visually appealing */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: violet;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: rebeccapurple;
    color: #fff;
    padding: 10px;
}
/* media queries */
@media (max-width: 800px) {
    main {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    li {
        font-size: 16px;
    }

    main {
        max-width: 90%;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    li {
        font-size: 14px;
    }
}
aside{
    position: absolute;
    left: 400px;
}